@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav{
    position: relative;
    background-size: 101vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 280px;
    text-align: center;
}

.nav__img--wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav__img{
    width: 100%;
    height: 100%;
}


section{
    background-color: #2424;
    min-height: 100vh;
}

.container{
    padding: 60px 12px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #fabf2a;
    filter: brightness(200%);
}

.input__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

input{
    margin-right: 16px;
    height: inherit;
    width: 350px;
    border: 2px solid grey;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

::placeholder{
    opacity: 0.5;
}

button{
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    padding: 5px;
}

.search__icon{
    display: flex;
    height: 100%;
}

.country__img--wrapper{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.country__img{
    display: flex;
    width: 100%;
    transition: all 600ms ease;
}

.countries{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countries__loading .countries{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countries__loading--spinner{
    font-size: 60px;
    color: white;
    visibility: hidden;
}

.countries__loading .countries__loading--spinner{
    visibility: visible;
}

.fa-spinner{
    animation: rotation infinite 1000ms linear;
}

.error__message .fa-spinner,
.error__message .details-img__loading--spinner,
.search-error__message .fa-spinner{
    visibility: hidden;
}

@keyframes rotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.country{
    cursor: pointer;
    /* width: 20%; */
    width: 15%;
    margin: 8px;
}

.country-search .countries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country-search .country{
    display: none;
}

.country-loading .countries__loading--spinner{
    visibility: visible;
}

.error__message--wrapper{
    position: relative;
}

.search-error__message .countries{
    display: none;
}

.searched__back-btn--container{
    padding-bottom: 32px;
    display: none;
}

.searched-country__back--btn{
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    color: #7342d6;
    z-index: 2;
}

.search-error__message .searched__back-btn--container,
.country-search .searched__back-btn--container{
    display: block;
}

.country__img--bg{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease;
}

.country:hover .country__img--bg{
    opacity: 0.7;
    visibility: visible;
    z-index: 1;
}

.country__img--wrapper:hover img{
    transform: scale(1.07);
    filter: blur(0.5px);
}

.fa-arrow-up{
    font-size: 30px;
    position: fixed;
    color: bisque;
    bottom: 18px;
    right: 30px;
    z-index: 2;
}

.country-search .fa-arrow-up{
    display: none;
}

/*

COUNTRY DETAILS

*/

.left-arrow {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    color: #7342d6;
    top: 60px;
    left: 60px;
    z-index: 2;
}

.country__infos--container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;

}

.country-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.details-flags__loading .country-details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

li{
    list-style-type: circle;
    font-size: 26px;
    font-weight: 600;
    margin: 0 16px 8px 16px;

}

.country-details__img--container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.country-details__img--wrapper{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    text-align: center;
    width: 50%;
}

.country-details__img{
    max-width: 400px;
}

.details-img__loading--spinner{
    font-size: 60px;
    color: white;
    visibility: hidden;
}

.details-flags__loading .details-img__loading--spinner{
    visibility: visible;
}


.country-details__img--title{
    font-size: 26px;
    font-weight: 600;
}

.country-details__img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    margin-top: 16px;
}

.country-details__img--2{
    padding: 0 20%;
}

.country__infos{
    margin-top: 32px;
}

.language{
    line-height: 1.5;
}

.time-zone{
    line-height: 1.5;
}

.error, .search-error{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    padding: 12px 0;
    width: auto;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    color: brown;
    font-weight: 600;
    display: none;
}

.error__message .error{
    display: block;
}

.search-error__message .search-error{
    display: block;
}


/*

    MEDIA QUERIES

*/


@media (max-width: 800px){

    .country{
        width: 20%;
    }

    .country-details__img--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .country-details__img--title{
        margin-top: 32px;
    }

    .country-details__img--2{
        padding: 0 10%;
    }
}

@media (max-width: 768px) {

    .nav__title{
        font-size: 36px;
        font-weight: 700;
    }
    
    li{
        font-size: 22px;
        font-weight: 500;
    }

    input, button{
        max-height: 50px;
    }

}

@media (max-width: 576px) {

    .nav__title{
        font-size: 32px;
        font-weight: 700;
    }

    input{
        width: 350px;
    }

    .countries{
        justify-content: space-around;
    }

    .country{
        width: 25%;
    }
    
    li{
        list-style-type: none;
        text-align: center;
    }

    .list-name__color{
        color: #7342d6;
    }

    .searched-country__back--btn, .left-arrow{
        font-size: 28px;
    }
}

@media (max-width: 530px) {

    .country__img--bg{
        font-size: 14px;
    }

    .country-details__img--title{
        font-size: 22px;
        font-weight: 500;
    }

    .country-details__img{
        max-width: 300px;
    }

    .country__infos{
        max-width: 350px;
    }

    .maps{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
    }

    .searched-country__back--btn, .left-arrow{
        font-size: 20px;
    }
}


@media (max-width: 470px) {

    input{
        width: 250px;
    }

    li{
        font-size: 20px;
        font-weight: 400;
    }

}

@media (max-width: 420px) {

    .country{
        width: calc(100%/3);
    }

    li{
        font-size: 18px;
        font-weight: 300;
    }

    .country__infos{
        max-width: 300px;
    }

    .maps{
        font-size: 16px;
        font-weight: 500;
    }
}


@media (max-width: 375px){

    .nav__title{
        font-size: 28px;
        font-weight: 500;
    }

    input{
        width: 200px;
    }

}

@media (max-width: 370px) {

    .country__img--bg{
        font-size: 12px;
    }

    .country-details__img{
        max-width: 250px;
    }

    .country__infos{
        max-width: 250px;
    }

    li{
        font-size: 16px;
    }

    .maps{
        font-size: 14px;
        font-weight: 500;
    }

}








