@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-image: url("./assets/Earth.webp");
    background-size: 101vw;
    background-repeat: no-repeat;
    height: 280px;
    padding: 60px 0;
    text-align: center;
}

section{
    background-color: #2424;
    min-height: 100vh;
}

.container{
    padding: 60px 12px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
    color: white;
}

.input__wrapper{
    display: flex;
    justify-content: center;
}

input{
    margin-right: 16px;
    height: 65px;
    width: 350px;
    border: 2px solid grey;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

button{
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 8px;
}

.country__img--wrapper{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.country__img{
    display: flex;
    width: 100%;
    transition: all 600ms ease;
}

.fa-search{
    color: grey;
    height: 45px;
    width: 65px;
}

.countries{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countries__loading--spinner{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 60px;
    color: white;
    display: none;
}

.countries__loading .countries__loading--spinner{
    display: block;
}

.fa-spinner{
    animation: rotation 1000ms infinite linear;
}

@keyframes rotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.country{
    cursor: pointer;
    width: 20%;
    margin: 8px;
}

.country-search .country{
    display: none
}

.searched-country{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searched-country__back--btn{
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    color: #7342d6;
    z-index: 2;
}

.country__img--bg{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease;
}

.country:hover .country__img--bg{
    opacity: 0.7;
    visibility: visible;
    z-index: 1;
}

.country__img--wrapper:hover img{
    transform: scale(1.07);
    filter: blur(0.5px);
}

.fa-arrow-up{
    font-size: 30px;
    position: fixed;
    color: bisque;
    bottom: 18px;
    right: 30px;
    z-index: 2;
}

/*

COUNTRY DETAILS

*/

.left-arrow {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    color: #7342d6;
    top: 60px;
    left: 60px;
    z-index: 2;
}

.country__infos{
    max-width: 600px;
}

.country-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: circle;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}

.country-details__img--container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.country-details__img--wrapper{
    position: relative;
    min-height: 150px;
    text-align: center;
    width: 50%;
}

.details-img__loading--spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: none !important;
}

.details-flags__loading .details-img__loading--spinner{
    display: block;
}


.country-details__img--title{
    font-size: 26px;
    font-weight: 600;
}

.country-details__img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    margin-top: 16px;
}

.country-details__img--2{
    padding: 0 20%;
}

.country__infos{
    margin-top: 32px;
}

.language{
    line-height: 1.5;
}

.time-zone{
    line-height: 1.5;
}

.error, .search-error{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    padding: 12px 0;
    width: auto;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    color: brown;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
}

.error__message .error{
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.search-error__message .search-error{
    opacity: 1;
    visibility: visible;
    z-index: 100;
}







